/* * {
  margin: 0;
  padding: 0;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
 */
body {
  background-color: black;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  width: 100vw;
  min-height: 60px;
 /*  background-image: radial-gradient(#6c757d, #000); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 3px 2px 264px 2px #212529;
}

nav {
  width: 80%;
}

.left {
  float: left;
  width: 20%;
}

nav .left img {
  max-height: 60px;
  display: block;
  color: rgb(38, 42, 86);
}

.right {
  display: none;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
}

.navbar-links a:hover {
  color: rgb(91, 188, 255);
  text-decoration: none;
}

main {
  width: 100vw;
  display: block;
}

.firstsec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-height: 550px;
  margin: auto;
}

.leftsec {
  font-size: 44px;
  width: 70%;
  display: block;
  float: right;
  margin-left: 150px;
}

.rightsec {
  width: 30%;
  display: block;
  float: left;
}

.rightsec img {
  width: 100%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 12px 9px 13px 1px #6c757d;
  float: right;
}

.purple {
  color: #669ACF;
}

#element {
  color: #669ACF;
}

.bt {
  width: 100%;
  min-height: 250px;
}

.b {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
}

.btn {
  padding: 12px;
  background-color:radial-gradient(#6c757d, #000);
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
}

.btn:hover {
  background-color: white;
  color:black;
  border: 3px solid radial-gradient(#6c757d, #000);
}

.foursec {
  max-width: 80%;
  margin: auto;
  min-height: 550px;
}

.foursec .box p {

  font-size: 20px;
 
  max-height: 500px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.foursec .box p::-webkit-scrollbar {
  display: none;
}

main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 30px 84px;
}

.gray {
  color: gray;
}

.secondsec {
  width: 80vw;
  margin: auto;
  min-height: 500px;
}

.secondsec .box {
  background-color: white;
  width: 100%;
  height: 2px;
  margin: 96px 0;
  display: flex;
}

.secondsec .ver {
  height: 93px;
  width: 2px;
  background-color: white;
  margin: 0 24%;
}

.vtitle2 {
  position: relative;
  top:-9px;
  width: 149px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  left: -43px;
}

.vdes2 {
  position: relative;
  top:-9px;
  color: #669ACF;
  width: 149px;
  font-size: 11px;
  margin: 0;
  padding: 0;
  left: -43px;
}

.imt {
  width: 91px;
    position: relative;
    top: -59px;
    left: -44px;
    margin: 0;
    padding: 0;
}

.vdes1 {
  position: relative;
 
  color: #669ACF;
  width: 149px;
  font-size: 11px;
  margin: 0;
  padding: 0;
  left: -43px;
}

.vtitle1 {
  position: relative;
 
  width: 149px;
  margin: 0;
  padding: 0;
  left: -43px;
  font-size: 20px;
}

.thsec {
  width: 80%;
  margin: auto;
  min-height: 600px;
}

.thsec .box {
  width: 100%;
  height: 100px;
  margin: 56px 0;
  display: flex;
  flex-direction: column;
}

.pro {
  display: flex;
  height: 25px;
  width: 100%;
  margin: 15px;
}

.thsec .box .pro span {
  margin-top: 6px;
  width: 20%;
  font-size: 30px;
}

.progress {
  height: 25px;
  width: 80%;
  margin: 11px 10px 0px 35px;
}

.progress .prg {
  height: 100%;
}

.exsec {
  width: 80%;
  margin: auto;
  min-height: 500px;
}

.exb {
  display: flex;
  justify-content: center;
}

.cd {
  width: 30%;
  min-height: 300px;
  margin: 50px 5px;
  padding: 20px;
  background-color:radial-gradient(#6c757d, #000);
  color: white;
  background-color: rgb(16, 16, 16);
  border: 3px solid white;
  color: white;
  background: linear-gradient(to right, white );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.cd i {
  font-size: 60px;
  text-align: center;
  margin: 5px;
}

.cd:hover {
  color: rgb(170, 107, 228);
  border: 3px solid rgb(170, 107, 228);
  background-color: white;
  background-position: left bottom;
}

.fosec {
  width: 80%;
  margin: auto;
  min-height: 500px;
}

.fosec .fov {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lc {
  margin: auto;
  width: 40%;
}

.lcd {
  margin: 15px;
  width: 100%;
  min-height: 40px;
  display: flex;
  text-align: left;
}

.lcd i {
  font-size: 38px;
  width: 15%;
}

.lcd div {
  width: 85%;
  font-size: 18px;
}

.lcd a {
  text-decoration: none;
  color: gray;
}

.lcd a:hover {
  color: blueviolet;
}

.rc {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.rc h4 {
  font-size: 30px;
}

.btn1 {
  padding: 5px;
  background-color: rgb(10, 9, 10);
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.btn1:hover {
  background-color: white;
  color: rgb(18, 17, 19);
  border: 3px solid rgb(18, 17, 18);
}

footer {
  background-color:black;
  width: 100vw;
  box-shadow: 3px 2px 264px 2px #212529;
}

.foot {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.foot1 {
  width: 70%;
}

.fooot {
  display: flex;
  align-items: center;

  justify-content: space-between;
  font-size: 15px;
}

.foot ul {
  list-style: none;
}

.txt {
  text-align: center;
  color: gray;
  font-size: 15px;
}

footer ul li a {
  text-decoration: none;
  color: white;
  margin: 80px;
}

footer ul li a:hover {
  color: rgb(153, 153, 226);
}

@keyframes progressBar1 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes progressBar2 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes progressBar3 {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes progressBar4 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes progressBar5 {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
